@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274 100% 97%;
    --foreground: 278 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 278 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 278 10% 20%;
    --primary: 278 69% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 276 80% 92%;
    --secondary-foreground: 278 10% 20%;
    --muted: 276 80% 92%;
    --muted-foreground: 278 10% 40%;
    --accent: 350 79% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 20% 85%;
    --input: 0 0% 100%;
    --ring: 278 69% 61%;
    --chart-1: 278 69% 61%;
    --chart-2: 350 79% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Sidebar Theme */
    --sidebar-background: 278 50% 99%;
    --sidebar-foreground: 278 10% 20%;
    --sidebar-primary: 278 69% 61%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 276 80% 92%;
    --sidebar-accent-foreground: 278 10% 10%;
    --sidebar-border: 278 20% 88%;
    --sidebar-ring: 278 69% 61%;
  }
  .dark {
    --background: 278 10% 10%;
    --foreground: 0 0% 98%;
    --card: 278 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 278 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 278 69% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 278 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 278 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 350 79% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 10% 25%;
    --input: 278 10% 15%;
    --ring: 278 69% 61%;
    
    /* Sidebar Theme Dark */
    --sidebar-background: 278 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 278 69% 61%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 278 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 278 10% 25%;
    --sidebar-ring: 278 69% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
